.container {
    background: rgb(38, 12, 36);
    background: linear-gradient(325deg, rgba(38, 12, 36, 0.47805059523809523) 0%, rgba(34, 6, 52, 0.7861738445378151) 3%, rgba(34, 11, 30, 0.8786108193277311) 8%, rgba(62, 15, 71, 0.8954175420168067) 11%, rgba(67, 16, 79, 0.9234287464985994) 18%, rgba(161, 32, 157, 0.8786108193277311) 30%, rgba(90, 40, 108, 0.8926164215686274) 44%, rgba(94, 17, 90, 0.8618040966386554) 50%, rgba(159, 21, 159, 1) 55%, rgba(114, 37, 130, 0.8534007352941176) 61%, rgba(124, 51, 129, 0.8814119397759104) 63%, rgba(191, 23, 194, 0.8281906512605042) 72%, rgba(186, 12, 194, 0.8281906512605042) 74%, rgba(192, 19, 208, 0.9206276260504201) 76%, rgba(118, 14, 119, 0.8449973739495799) 86%, rgba(77, 14, 91, 0.9122242647058824) 92%, rgba(34, 6, 52, 1) 100%);
    width: 900px;
    border-radius: 10px;

}

.custom-gradient {
    background: rgb(38, 12, 36);
    background: linear-gradient(325deg, rgba(38, 12, 36, 0.478) 0%, rgba(34, 6, 52, 0.786) 3%, rgba(34, 11, 30, 0.879) 8%, rgba(62, 15, 71, 0.895) 11%, rgba(67, 16, 79, 0.923) 18%, rgba(161, 32, 157, 0.879) 30%, rgba(90, 40, 108, 0.893) 44%, rgba(94, 17, 90, 0.862) 50%, rgba(159, 21, 159, 1) 55%, rgba(114, 37, 130, 0.853) 61%, rgba(124, 51, 129, 0.881) 63%, rgba(191, 23, 194, 0.828) 72%, rgba(186, 12, 194, 0.828) 74%, rgba(192, 19, 208, 0.921) 76%, rgba(118, 14, 119, 0.845) 86%, rgba(77, 14, 91, 0.912) 92%, rgba(34, 6, 52, 1) 100%);
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 0px;
        padding: 0px;

        height: auto;
        min-height: 800px;
        margin: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }

}

@media (max-width: 768px) {
    .container {

        margin: 0px;
        padding: 0px;
        height: auto;
        min-height: 800px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}