.LinkButtom {
    display: block;
    width: 250px;
    height: 50px;
    background-color: #071a79bf;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 1000;
}